.navheader{        
    margin-top: 15px;     
    font-size: 18px;       
    color :#c9bd4c !important;        
    background-color: #508467!important        
  }     
  .btnspace    
  {    
  margin: 15px;    
  } 